* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    min-width: 381px;
    min-height: 560px;
}

div {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

h1 {
    padding-bottom: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    color: rgb(96, 194, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: solid 3px black;
    border-radius: 10px;
    width: 252px;
}

.screen {
    border: solid 2px black;
    border-bottom: 4px black solid;
    border-radius: 5px;
    width: 100%;
    padding: 3px;
    background-color: rgba(50, 198, 231, 0.8);

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-color: rgba(50, 198, 231, 0.8);
        border: 3px black solid;
        border-radius: 5px;
        padding: 20px 9px 5px 0;
    }
}

#numpad-el {
    height: 50px;
    width: 200px;
    border-bottom: 3px solid black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    display: flex;
    align-items: end;
    justify-content: end;
    overflow: hidden;
}

#but-6 sup, #but-7 sup {
    position: absolute;
    transform: translate(-2px, -3px);
    font-size: 16px;
}

#but-20 sup{
    position: absolute;
    transform: translate(-10px, -4px);
}
#but-20 sub{
    position: absolute;
    transform: translateY(5px);
}


.grid-container {
    display: grid;
    grid-template: repeat(4, 50px) / repeat(4, 60px);
    gap: 2px;
}

.grid-container div {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    background: rgb(225, 225, 225);
    border: 4px solid black;
    border-radius: 5px;
    border-top: none;
    border-left: none;
    cursor: pointer;
    padding: 5px 8px;

    &:hover{
        background-color: rgb(210, 210, 210);
    }
    &:active,
    .active{
        opacity: .69;
    }
}
.active{
    opacity: .69;
}
#but-3 {
    background-color: blue;
    color: white;

    &:hover{
        background-color: rgb(0, 0, 230);
    }
    &:active{
        opacity: .69;
    }
}

#sum-el {
    font-size: 35px;
    padding: 20px 0;
    height: 80px;
    max-width: 200px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width: 90%;
    font-size: 35px;
    text-align: end;
    padding-right: 15px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    background-color: rgba(50, 198, 231, 0.1);
}

@media screen and (max-width: 380px) {
    h1{
        font-size: 22px;
        width: 35%;
    }
    .container{
        width: 152px;
    }
    .grid-container{
        grid-template: repeat(5, 35px) / repeat(4, 35px);
    }
    button {
        font-size: 15px;
    }
    .screen div{
        padding-top: 20px;
    }
    #sum-el, input{
        font-size: 20px;
    }
    #sum-el{
        height: 30px;
        padding: 5px 0;
    }
    input{
        padding-right: 5px;
    }
}